# vim: ft=dosini
[settings]

match-format = {doc[tags]}{doc[title]}{doc[symbol]}{doc[manufacturer]}
header-format = <span color='red'>{doc[title]}</span>
  <i>  </i><span color='magenta'>{doc[symbol]}</span>
  <i>  Manuf: </i><span color='cyan'>{doc[manufacturer]}</span><i>  </i>[<span color='cyan'>{doc[tags]}</span>]
database-backend = papis
