[settings]
match-format = {doc[tags]}{doc[title]}{doc[symbol]}{doc[manufacturer]}
header-format = <span color='red'>{doc[title]}</span>
  <i>  </i><span color='magenta'>{doc[symbol]}</span>
  <i>  Manuf: </i><span color='cyan'>{doc[manufacturer]}</span>
database-backend = papis

rofi-gui-header-format = %(header-format)s
                     {doc[manufacturer]}

tk-gui-header-format = %(rofi-gui-header-format)s
vim-gui-header-format = Title: {doc[title]}
                        Part.: {doc[symbol]}
                        Man. : {doc[manufacturer]}
                     {doc[empty]}
urwid-gui-show-fields = title, symbol, manufacturer



# vim: ft=dosini
