[settings]
match-format = {doc[tags]}{doc[title]}{doc[symbol]}{doc[manufacturer]}
header-format = {doc[title]:<70.70}|{doc[symbol]:<20.20} ({doc[manufacturer]:-<4})

rofi-gui-header-format = %(header-format)s
                     {doc[manufacturer]}

tk-gui-header-format = %(rofi-gui-header-format)s
vim-gui-header-format = Title: {doc[title]}
                        Part.: {doc[symbol]}
                        Man. : {doc[manufacturer]}
                     {doc[empty]}
urwid-gui-show-fields = title, symbol, manufacturer



# vim: ft=dosini
